.container{
    width: 100%;

}
.user{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom:  1px solid $light-grey;
    
    .profile{
        width: 30px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .text{
        display: flex;
        flex-direction: column;
        .username{
            font-weight: 600;
            font-size: $normal-font-size;
        }
        .name{
            font-weight: 600;
            font-size: $small-font-size;
            
            color: $dark-gray;
        }
    }
    .follow{
        margin-left: auto;
        margin-right: 5px;
        .button{
            @include blueButton();
            svg {
                margin-right: 10px;
            }
        }
        
    }
}